@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Common Style */
  --box-shadow: inset -8px 0px 8px -8px rgba(134, 110, 110, 0.25);

  /* bg */
  --light-card-footer-bg: #eef2f780;
  --text-color: #313b5e;
  --nav-item-active-color: #0d6efd;
  --card-bg: #fff;

  /* Navbar */
  --main-nav-bg: #262d34;
  --nav-item-color: #9097a7;
  --nav-item-hover-color: #ffffff;

  /* Top Navbar Bar */
  --topbar-item-color: #707793;

  /* Button Color */
  --btn-bg: #10b981;
  --btn-hover-bg: #059669;

  --border-color: #e1e4eb;
  --card-footer-bg: #e0e1e5;
}

[data-theme="dark"] {
  /* bg */
  --light-card-footer-bg: #2f394380;
  --search-bg: #eae8e8;
  --card-bg: #282f36;
  --text-color: #aab8c5;

  /* Navbar */
  --main-subNav-bg: #22282e;
  --nav-item-color: #9097a7;
  --nav-item-hover-color: #ffffff;

  /* Top Navbar Bar */
  --topbar-item-color: #dee2e6;

  --border-color: #404754;
  --card-footer-bg: #5b5f68;
}

.loaderParent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100000;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}

@keyframes l7 {
  to {
    transform: rotate(0.5turn);
  }
}
